<div class="minhas-candidaturas-container">
  <app-header></app-header>

  <main class="content">
    <div class="header-page">
      <button class="btn-voltar" (click)="voltar()">
        <i class="fa-solid fa-arrow-left"></i>
      </button>
      <h1>Minhas Inscrições</h1>
    </div>

    <div class="grid-candidaturas" *ngIf="candidaturas.length > 0; else emptyState">
      <div class="card-candidatura" *ngFor="let c of candidaturas" (click)="verDetalhes(c)"
        [class.projeto-encerrado]="c.statusProjeto === 'FINALIZADA'">
        <div class="card-info">
          <div class="badges-row">
            <span class="status-badge" [attr.data-status]="c.status">
              <i [class]="c.status === 'APROVADO' ? 'fa-solid fa-check-double' :
                        c.status === 'RECUSADO' ? 'fa-solid fa-circle-xmark' :
                        c.status === 'CANCELADO' ? 'fa-solid fa-user-slash' :
                        'fa-solid fa-clock'"></i>
              {{ c.status }}
            </span>

            <span *ngIf="c.statusProjeto === 'FINALIZADA'" class="badge-projeto-encerrado">
              <i class="fa-solid fa-hourglass-end"></i>
              ENCERRADO
            </span>
          </div>
          <h3>{{ c.projetoTitulo }}</h3>
          <p class="ong-nome"><i class="fa-solid fa-building-ngo"></i> {{ c.nomeOng }}</p>
          <p class="data"><i class="fa-regular fa-calendar"></i> Inscrito em: {{ c.dataCandidatura | date:'dd/MM/yyyy' }}</p>

          <div class="card-actions" *ngIf="c.status === 'PENDENTE' && c.statusProjeto !== 'FINALIZADA'">
            <button class="btn-desistir" (click)="desistirDaInscricao($event, c)">
              <i class="fa-solid fa-ban"></i> Desistir da Inscrição
            </button>
          </div>

          <div class="card-actions" *ngIf="c.status === 'CANCELADO' && c.statusProjeto !== 'FINALIZADA'">
            <button class="btn-reinscrever" (click)="reinscreverNoProjeto($event, c)">
              <i class="fa-solid fa-rotate-left"></i> Quero me inscrever novamente
            </button>
          </div>

        </div>
      </div>
    </div>

    <ng-template #emptyState>
      <div class="empty-msg">
        <i class="fa-solid fa-folder-open"></i>
        <p>Você ainda não se candidatou a nenhuma vaga.</p>
        <button (click)="voltar()" class="btn-explorar">Explorar Oportunidades</button>
      </div>
    </ng-template>
  </main>
</div>

<app-projeto-detalhe
  *ngIf="projetoSelecionado"
  [projeto]="projetoSelecionado"
  [mostrarBotaoCandidatar]="false"
  (close)="fecharModal()">
</app-projeto-detalhe>
