<div class="home-container">
  <h1>Bem-vindo ao VolunTech</h1>
  <p>Escolha como você deseja ajudar hoje:</p>

  <div class="button-group">
    <div class="card" (click)="navegarParaVoluntario()">
      <h2>Sou Voluntário</h2>
      <p>Quero encontrar projetos e doar meu tempo.</p>
      <button>Cadastrar</button>
    </div>

    <div class="card" (click)="navegarParaOng()">
      <h2>Sou ONG</h2>
      <p>Quero cadastrar minha organização e encontrar apoio.</p>
      <button>Cadastrar</button>
    </div>
  </div>

  <div class="login-footer">
    <p>Já possui uma conta? <a (click)="navegarParaLogin()">Fazer Login</a></p>
  </div>
</div>
