/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Garante que o SweetAlert fique acima do seu modal (que está em 2000) */
.swal2-container {
  z-index: 3000 !important;
}
